Repository DevClarkMiller/budget-booze: changes, and which Jenkins stages are due for each by the changed paths.
All: Install Dependencies Frontend, Install Dependencies Backend, Build Frontend, Build Backend, Deploy Frontend, Deploy Backend

Jenkinsfile:

pipeline {
    agent any

    environment {
        NODE_ENV = 'production'
    }

    stages {

        stage("Checkout") {
            steps {
                checkout scm
            }
        }

        stage("Install Dependencies Frontend") {
            when { changeset "src/**" }
            steps {
                sh 'npm install'
                writeFile file: ".env.development", text:""
                writeFile file: ".env.production", text:""

                dir('src/mill-comps') {
                    git(
                        branch: 'main',
                        url: 'https://github.com/DevClarkMiller/mill-comps.git',
                        changelog: false,
                        poll: false
                    )
                }
            }
        }

        stage("Install Dependencies Backend") {
            when { changeset "backend/**" }
            steps {
                dir('backend') {
                    withCredentials([file(credentialsId: 'budgetbooze-backend-env', variable: 'ENV_FILE')]) {
                        script {
                            def secretContent = readFile(env.ENV_FILE)
                            writeFile file: '.env', text: secretContent
                        }
                    }
                }
            }
        }

        stage ("Build Frontend") {
            when { changeset "src/**" }
            steps {
                sh "npm run build"
            }
        }
        stage("Build Backend") {
            when { changeset "backend/**" }
            steps {
                dir('backend') {
                    sh 'npm run build:image'
                    sh 'npm run save:image'
                }
            }
        }

        stage("Deploy Frontend") {
            when { changeset "src/**" }
            steps {
                sh 'scp -r build/* clark@clarkmiller.ca:/var/www/budgetbooze.ca/html'
            }
        }

        stage("Deploy Backend") {
            when { changeset "backend/**" }
            steps {
                sh 'scp backend/budgetboozeimage.tar miller@sys1.clarkmiller.ca:/home/miller'
                sh 'ssh sys1.clarkmiller.ca "docker load -i budgetboozeimage.tar"'
                sh 'ssh sys1.clarkmiller.ca "docker compose stop budgetbooze ; docker compose rm -f budgetbooze; docker compose up -d budgetbooze"'
            }
        }
    }
}

Added loading icon for the random top pick when the image hasn't loaded yet
  src/LandingPage.jsx
Due: Install Dependencies Frontend, Build Frontend, Deploy Frontend

Made the landing page not do a weird flicker when a drink loads in
  src/Drink/DrinksCard.jsx
  src/LandingPage.jsx
Due: Install Dependencies Frontend, Build Frontend, Deploy Frontend

Updated drinks card to have default value for height and width so that the drinks page doesn't do weird display thing
  src/Drink/DrinksCard.jsx
Due: Install Dependencies Frontend, Build Frontend, Deploy Frontend

Updated Dockerfile and Jenkinsfile
  Jenkinsfile
  backend/Dockerfile
Due: Install Dependencies Backend, Build Backend, Deploy Backend

Updated Dockerfile to use a volume
  backend/Dockerfile
Due: Install Dependencies Backend, Build Backend, Deploy Backend

Updated app to have a loading state when drinks are being fetched
  backend/src/routes/controllers.js
  src/App.jsx
  src/Content.jsx
  src/Drink/DrinksView.jsx
Due: Install Dependencies Frontend, Install Dependencies Backend, Build Frontend, Build Backend, Deploy Frontend, Deploy Backend

Updated controllers to have a more performative query
  backend/src/routes/controllers.js
Due: Install Dependencies Backend, Build Backend, Deploy Backend

Fixed logic error with findDrinks function
  backend/src/routes/controllers.js
Due: Install Dependencies Backend, Build Backend, Deploy Backend

Made API much faster
  backend/src/routes/controllers.js
Due: Install Dependencies Backend, Build Backend, Deploy Backend

Updated Jenkinsfile to spin up container faster
  Jenkinsfile
Due: none

Updated Jenkinsfile to have better cues on when to do thorugh front-end / back-end stages
  Jenkinsfile
Due: none

Fixed logic error in Jenkinsfile
  Jenkinsfile
Due: none

Updated some packages
  package-lock.json
Due: none

Updated Jenkinsfile to run pipeline when package is changes
  Jenkinsfile
Due: none

Added ESLint and prettier to project
  eslint.config.mjs
  package-lock.json
  package.json
  prettierrc
  src/About.jsx
  src/App.jsx
  src/AsideMenu.jsx
  src/Categories/CategoriesBtn.jsx
  src/Categories/CategoriesSection.jsx
  src/Categories/FilterABV.jsx
  src/Categories/FilterML.jsx
  src/Categories/SelectSort.jsx
  src/Categories/filterQTY.jsx
  src/Content.jsx
  src/Drink/DrinksCard.jsx
  src/Drink/DrinksList.jsx
  src/Drink/DrinksPage.jsx
  src/Drink/DrinksView.jsx
  src/Footer.jsx
  src/Header.jsx
  src/LandingPage.jsx
  src/Menu.jsx
  src/MobileAsideMenu.jsx
  src/QrRedirect.jsx
  src/functions/api.js
  src/functions/checkResponseStatus.js
  src/functions/drinkCalcs.js
  src/functions/fetch.js
  src/functions/scrollTo.js
  src/index.js
  src/outputErrors.js
  src/reducers/filtersReducer.js
  src/utilities/CardArray.jsx
  src/utilities/LabelInput.jsx
  src/utilities/NoDrinksLoaded.jsx
  src/utilities/NotFound.jsx
  src/utilities/tables/TableFullRow.jsx
  src/utilities/tables/TableWBody.jsx
Due: Install Dependencies Frontend, Build Frontend, Deploy Frontend

Added ESLint and prettier to project (#1)
  eslint.config.mjs
  package-lock.json
  package.json
  prettierrc
  src/About.jsx
  src/App.jsx
  src/AsideMenu.jsx
  src/Categories/CategoriesBtn.jsx
  src/Categories/CategoriesSection.jsx
  src/Categories/FilterABV.jsx
  src/Categories/FilterML.jsx
  src/Categories/SelectSort.jsx
  src/Categories/filterQTY.jsx
  src/Content.jsx
  src/Drink/DrinksCard.jsx
  src/Drink/DrinksList.jsx
  src/Drink/DrinksPage.jsx
  src/Drink/DrinksView.jsx
  src/Footer.jsx
  src/Header.jsx
  src/LandingPage.jsx
  src/Menu.jsx
  src/MobileAsideMenu.jsx
  src/QrRedirect.jsx
  src/functions/api.js
  src/functions/checkResponseStatus.js
  src/functions/drinkCalcs.js
  src/functions/fetch.js
  src/functions/scrollTo.js
  src/index.js
  src/outputErrors.js
  src/reducers/filtersReducer.js
  src/utilities/CardArray.jsx
  src/utilities/LabelInput.jsx
  src/utilities/NoDrinksLoaded.jsx
  src/utilities/NotFound.jsx
  src/utilities/tables/TableFullRow.jsx
  src/utilities/tables/TableWBody.jsx
Due: Install Dependencies Frontend, Build Frontend, Deploy Frontend

Added a clean ws step
  Jenkinsfile
Due: none

Fixed some build issues
  package-lock.json
  package.json
Due: none

Added a test file to test copilots code review
  test.txt
Due: none

Add code review guidelines to instructions
  .github/*.instructions.md
Due: none

Update .github/*.instructions.md
  .github/*.instructions.md
Due: none

Add code review guidelines to instructions (#5)
  .github/*.instructions.md
Due: none

Rename *.instructions.md to .instructions.md
  .github/.instructions.md
Due: none

Rename *.instructions.md to .instructions.md (#7)
  .github/.instructions.md
Due: none

Added some test lines
  src/About.jsx
Due: Install Dependencies Frontend, Build Frontend, Deploy Frontend

updated packages, also changed references to old domain to be for the new one
  Jenkinsfile
  package-lock.json
  src/functions/api.js
Due: Install Dependencies Frontend, Build Frontend, Deploy Frontend

Fixed remaining refs to old domain
  cacher/budget-booze-cacher.js
  package.json
Due: none

Changed domain (#9)
  Jenkinsfile
  cacher/budget-booze-cacher.js
  package-lock.json
  package.json
  src/functions/api.js
Due: Install Dependencies Frontend, Build Frontend, Deploy Frontend

Fixed server address issue
  Jenkinsfile
Due: none
